<div class="headers">
<br><br><br>
<h1 class="headf">Add a new Artist</h1>
<br>


<div class="users_block">
<%= form_for(@artist) do |f| %>
<div>
  <p><%= f.label :name %></p>
  <%= f.text_field :name %>
</div>
<br>
<div>
  <p><%= f.label :plot %></p>
  <%= f.text_field :plot %>
</div>
<br><br>
<div>
  <p><%= f.label :upload %></p>
  <%= f.file_field :upload %>
</div>

<div>
  <%= f.submit "Save Artist" %>
</div>
<br>
<p><%= link_to "Find your Artists", :class => "btn btn-primary btn-lg orange darken-1" %>

<% end %>
</div>
</div>
