<div class="headers">
  <br><br><br>
<h1 class="headf">Add a new Song</h1>
<br>

<div class="users_block">
<%= form_for(@song) do |f| %>
<div>
  <p><%= f.label :title %></p>
  <%= f.text_field :title %>
</div>

<div>
  <p><%= f.label :plot %></p>
  <%= f.text_field :plot %>
</div>

<div>
  <p><%= f.label :upload %></p>
  <%= f.file_field :upload %>
</div>

<div>
  <%= f.submit "Save Song" %>
</div>
<br>
<p><%= link_to "Find your Songs", :class => "btn btn-primary btn-lg orange darken-1" %>

<% end %>
</div>
</div>
